pipeline/metadata2.json
{
	"name": "metadata2",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "az_sql_adventurework_productcategory",
						"type": "DatasetReference"
					},
					"fieldList": [
						"columnCount",
						"structure"
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[insertitem]",
					"storedProcedureParameters": {
						"filename": {
							"value": {
								"value": "@activity('Get Metadata1').output.item",
								"type": "Expression"
							},
							"type": "String"
						},
						"modifieddate": {
							"value": {
								"value": "@activity('Get Metadata1').output.modifieddate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"recordinsertdate": {
							"value": {
								"value": "@activity('Get Metadata1').output.utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "az_sql_azureworkshopsql",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": []
	}
}